@media(max-width:767px) {
    .whatsapp-link {
        text-decoration: none;

        justify-content: center;
        padding: 4px 10px;
        background-color: #292929;
        width: 25%;

        /* prevents distortion */
    }


}



.feature-card {
    background: #fff;
    padding: 30px;
    border-radius: 24px;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.06);
    transition: 0.3s ease;
    text-align: center;
}

.feature-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 12px 28px rgba(0, 0, 0, 0.08);
}

.spec-card {
    background: #fff;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.08);
}

.ctaa {
    background-color: #00AA88;
    background-image: url("Asset/pngtree-dot-to-dot-puzzle-connect-dots-game-car-png-image_12020359.png");
    background-repeat: no-repeat;
    background-position: center;
    padding: 70px 0;
    color: #fff;
    text-align: center;
}


.hero-btn {
    padding: 10px 20px;
    background-color: #F7F8F9;
    border: none;
    color: black;
    align-items: center;
    justify-content: center;

}


.hero-btn:hover {
    background-color: #024e3d;
    color: white;
}

h1,
h3 {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;



}