body {


  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  overflow-x: hidden;

}


a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: #01AB89;
}




p {
  padding: 0;
  margin: 0;
}

.navIcon {
  color: black;
  font-size: 1.8rem;
  padding: 0.4rem;
  border-radius: 7px;
}


.ctn {
  padding: 10px 25px;
  color: white;
  background-color: #00A991;
  border: none;

}

.con {
  background-color: #292929;
}

.ctn:hover {
  color: white;
  background-color: #024e3d;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  transition: all 0.6s;
  border: none;
}



.sidebar {
  background: transparent;
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
}

@media (min-width: 767px) {

  /* lg breakpoint */
  .text-lg-black {
    color: black !important;
    /* Use !important to ensure it overrides text-white */
  }
}

@media (min-width: 576px) {

  .dropdown-menu {
    opacity: 0;
    width: 250px;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }






  .dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
    opacity: 1;
    transition: all 0.6s;
  }

  .dropdown:hover .dropdown-toggle::after {
    transform: rotate(180deg);
    transition: all 0.6s;
  }



  .underline-hover {
    position: relative;
    display: inline-block;
    text-decoration: none;


  }

  .underline-hover::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 0;
    background-color: #01AB89;
    transition: width 0.3s ease;
  }

  .nav-item:hover .underline-hover::after,
  .dropdown:hover .underline-hover::after {
    width: 100%;
  }


}

.nav-link {
  padding-bottom: 0;
  color: white;
}



.dropdown-toggle::after {
  transition: all 0.6s;
  /* or your base position */
}






.dropdown-menu .dropdown-item:hover {
  background-color: #e5e5e5;
}

.dropdown-submenu {
  position: relative;
}

.dropdown-submenu .dropdown-menu {
  top: 0;
  left: 100%;
  margin-left: 0;
  margin-right: 0;
  display: none;
  position: absolute;
}

.dropdown-item {
  padding: 15px;
  font-size: 12px;
}

.navbar-toggler {
  padding: 0;
}

.close-btnn {
  background: none;
  border: none;
  color: white;
}

.cart-badge {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  font-size: 11px;
  line-height: 18px;
  text-align: center;
  top: 0;
  left: 14px;
  position: absolute;
  z-index: 10;
  padding: 0;
}











/* first section */

.carousel-indicators [data-bs-target] {
  background-color: #01AB89;
  border-radius: 50%;
  height: 7px;
  width: 7px;
}



.hero-sec {
  margin-top: clamp(8rem, 10vw, 10rem);


}

.dot-img {
  position: absolute;
  top: 0;
  opacity: 0.35;
  right: 1.8rem;
  z-index: -1;
}

@media(max-width:767px) {
  .dot-img {
    top: 5rem;
  }



  .img-resize {
    max-width: 100%;
    margin-top: -2.2rem;
    margin-left: 1.5rem;


  }

  .img-resizee {
    max-width: 100%;
    margin-top: -2.2rem;

  }

  .img-resizeee {
    max-width: 100%;
    margin-top: -2.8rem;


  }

  .img-resizeeee {
    max-width: 100%;
    margin-top: -2.8rem;
    margin-left: 3.5rem;

  }




  .nav-link {
    margin-top: 15px;
    padding-bottom: 10px;
    padding-top: 10px;

    font-size: 1.2rem;
  }


  .nav-link {
    color: white !important;
  }

  .shooping-cart {
    margin-left: 11rem;
    margin-bottom: 5px;
  }



}





.rbo {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: 200;
  font-style: normal;
  font-weight: bolder;
}

.mon-head {
  font-family: "Montserrat", sans-serif;
  font-size: 5rem;
  font-optical-sizing: auto;
  font-weight: 900;
  color: #01AB89;
  font-style: normal;
  letter-spacing: 0.3rem;

}

.head {
  font-size: clamp(1.5rem, 3vw, 10rem);
}



/* #translatingImg {
  z-index: -1;
  transition: transform 2s ease-in-out;
} */

.sec-sec {
  background-color: #e5e5e5;
}



.carousel-control-prev,
.carousel-control-next {
  background-color: rgba(0, 0, 0, 0.3);
  /* semi-transparent */
  border-radius: 50%;
  width: 50px;
  height: 50px;
  top: 50%;
  transform: translateY(-50%);
}


.carousel-inner {
  min-height: 500px;
  /* Adjust based on your tallest content */
}

.dashcam-btn {
  padding: clamp(5px, 2vw, 10px) clamp(10px, 2vw, 20px);
  font-size: clamp(1rem, 2vw, 1rem);
  border: none;
  color: white;
}

.blue-btn {
  background-color: #00C2FF;
  padding: clamp(7px, 2vw, 10px) clamp(10px, 4vw, 10px);
}

.red-btn {
  background-color: #DB1F1E;
  padding: clamp(7px, 2vw, 10px) clamp(10px, 4vw, 10px);
}


.slide-one-btn {
  padding: clamp(0.8rem, 2vw, 10px) clamp(1.5rem, 2vw, 10px);
  border: none;
  color: white;
  background-color: #00A991;

}

.adjust-btn {
  padding: clamp(10px, 2vw, 10px) clamp(17px, 2vw, 10px);
}

.slide-one-btn:hover {
  background-color: #024e3d;
}



/* section 1 */

.section1-btn {
  padding: clamp(7px, 2vw, 5px) clamp(10px, 4vw, 10px);
  border: none;
  color: white;
  background-color: #00A991;


}

.section1-btn:hover {
  background-color: #024e3d;
}

.bi-bag-fill {
  vertical-align: 0 !important;
}


.section1-btn:hover {
  background-color: #00A991;
}

.new {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 5px 15px;
  width: 48%;
}


@media(max-width:767px) {
  .new {
    width: 100%;
  }




  .slide-one-btn {
    position: relative;
    top: 20.5rem;
    border-radius: 0.3rem;
  }

  .dashcam-btn {
    position: relative;
    top: 27.5rem
  }

  .adjust-btn {
    position: relative;
    top: 21.5rem;
    border-radius: 0.3rem;

  }


  .carousel-control-prev {
    margin-left: 10px;

  }

  .carousel-control-next {
    margin-right: 10px;

  }

  .sm-btns {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding-bottom: 15px;
    padding-left: 15px;
    padding-right: 15px;
  }

  .con {
    width: 70%;
  }




  .whatsapp-link {
    text-decoration: none;
    display: flex;
    justify-content: center;
    padding: 4px 10px;
    background-color: #292929;
    width: 25%;
    display: inline-flex;
    /* prevents distortion */
  }


  .color-change {
    color: white;
  }

  .c-c {
    color: white;
    color: #1B8755;
  }

  .new-font1 {
    font-size: 16px;
  }

  .new-font2 {
    font-size: 12px;
  }

}



/* ipad view */

@media (min-width: 768px) and (max-width: 991.98px) {


  .con {
    width: 70%;
  }


  .nav-link {
    margin-top: 15px;
    padding-bottom: 10px;
    padding-top: 10px;

    font-size: 1.2rem;
  }


  .nav-link {
    color: white !important;
  }

  .color-change {
    color: white;
  }

  .c-c {

    color: #1B8755;
  }


  .sm-btns {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding-bottom: 15px;
    padding-left: 15px;
    padding-right: 15px;
  }

}





.bi::before,
[class*=" bi-"]::before,
[class^=bi-]::before {
  vertical-align: -5px;
}



/* section 2 */

.why {
  font-size: clamp(1rem, 2vw, 5rem);
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}

.rboo {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: 200;
  font-style: normal;
  font-weight: bolder;
}

.img-fluid.zoom-hover {
  transition: transform 0.4s ease;
}

.img-fluid.zoom-hover:hover {
  transform: scale(1.1);
}

.shift {
  margin-left: 5.5rem;
}



.offcanvas,
.offcanvas-lg,
.offcanvas-md,
.offcanvas-sm,
.offcanvas-xl,
.offcanvas-xxl {
  --bs-offcanvas-width: 100%;
}



/* store-color */

.store-color {
  background-color: #00A991;
}
























/* accordian */
.accordion-button:not(.collapsed) {
  background-color: white;
  border: none;
}


.accordion-button:focus {
  box-shadow: none;
  outline: none;
  color: #00A991;
}

.install-btn {
  color: black;
  background-color: white;
  border: 1px solid #00A991;
  padding: clamp(7px, 2vw, 5px) clamp(10px, 4vw, 10px);
  width: 100%;

}



/* SVG map styling */
.svg-map svg {
  width: 100%;
  height: auto;
}





.svg-map path {
  fill: #00A991;
  stroke: white;
  stroke-width: 0.5;
  cursor: pointer;
  transition: fill 0.2s ease-in-out;
}

.svg-map path:hover {

  fill: #00AA88;
}

.svg-map path.active {
  fill: #023e32;
}



#installer-details li {
  margin-bottom: 6px;
}

.state-label {
  font-size: 20px;
  fill: white;
  /* text color */
  pointer-events: none;
  /* so it doesn't block hover on the state path */
}

.state-label.hover {
  font-size: 20px;
  fill: white;
  /* text color */
  pointer-events: none;
  /* so it doesn't block hover on the state path */
}


.green-header {
  background-color: #00AA88;
  color: white;
}



/* footer */
.foot-line {
  border-bottom: 1px solid #01AB89;
}

.icon {
  color: #01AB89;
}

footer {
  background: url(Asset/black-dotted-mapa-mundi-vector\ 1.png) fixed;
}